fastapi
uvicorn
pydantic
python-multipart
scikit-learn
pandas
huggingface_hub
monai[fire]
pytorch-ignite
easyocr
imageio
nibabel
lightgbm
torchxrayvision
pytorch-gradcam
grad-cam
opencv-python-headless
pydantic-settings
sqlalchemy
asyncpg
python-dotenv
psycopg2-binary
alembic
google-genai
google-adk
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart



