fastapi
uvicorn
pydantic
python-multipart
torch
torchvision
scikit-learn
pandas
huggingface_hub
monai[fire]
pytorch-ignite
easyocr
imageio
nibabel
lightgbm
torchxrayvision
pytorch-gradcam
grad-cam
opencv-python-headless
pydantic-settings
sqlalchemy
asyncpg
python-dotenv
psycopg2-binary


