fastapi
uvicorn
pydantic
python-multipart
torch
torchvision
scikit-learn
pandas
lightgbm
torchxrayvision
pytorch-gradcam
grad-cam
opencv-python-headless
pydantic-settings
sqlalchemy
asyncpg
python-dotenv
psycopg2-binary
alembic



